<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/Style.css">
    <title>COVID PAGE</title>
    
<head>
    <body>
        <div class="landing">
                <label > COVID VACCINATION </label> 
                <div class="img">       
                <img src="{{url_for('static', filename='bg1.jpg')}} "  width="700" > 
                </div>
            <header>                               
                <nav>
                <a href="/enternew"> VACCINATION FORM </a>
                <a href="/available_doses"> AVAILABLE DOSES </a>
                <a href="/list" > VIEW DETAILS </a>
                <a href="/out"> LOCATIONS </a>
                <a href="https://www.who.int/news-room/questions-and-answers/item/vaccines-and-immunization-what-is-vaccination"> KNOW ABOUT VACCINES </a>
                </nav>
            </header>   
              
            <div class="maintext"> 
                <div class="tagline1">
                    Covid Precautions
                </div>
                <div class="tagline2">
                    Avoid crowds and close contact. <br>
                    Wear a properly fitted mask when physical distancing is not possible and in poorly ventilated settings. <br> 
                    Clean your hands frequently with alcohol-based hand rub or soap and water. <br>
                    Cover your mouth and nose with a bent elbow or tissue when you cough or sneeze. <br>
                </div>
                <div class="tagline3">              
                    There are many ways your actions can help protect you, your household, and your community from severe illness from COVID-19. <br>
                    CDC’s COVID-19 hospital admission levels provide information about the amount of severe illness in the community <br>
                    where you are located to help you decide when to take action to protect yourself and others. <br>
                </div>
                <div class="Callus">
                 Contact us to seek assistance @+91 1234567890.
                </div>
            </div>
        </div> 
    </body>
</html>